<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Student1</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>123456</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string>Hasan Noor Khan</string>
				<key>Resources</key>
				<string>http://www.linkToOurServer&apos;sDropBox.com</string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string>84%</string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string>Shazia Haq</string>
				<key>Resources</key>
				<string>http://www.linkToOurServer&apos;sDropBox.com</string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity sql on tuesday 3rd april</string>
				<key>Attendance</key>
				<string>100%</string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>10</string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string>Khurram Siddiqi</string>
				<key>Resources</key>
				<string>http://www.linkToOurServer&apos;sDropBox.com</string>
				<key>Announcement</key>
				<string>No announcement</string>
				<key>Attendance</key>
				<string>50%</string>
				<key>Assignment</key>
				<array>
					<string>8</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string>Tooba Javed</string>
				<key>Resources</key>
				<string>http://www.linkToOurServer&apos;sDropBox.com</string>
				<key>Announcement</key>
				<string>Their will be a combined presentation session on friday 6th april</string>
				<key>Attendance</key>
				<string>94%</string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string>A.D. Raza</string>
				<key>Resources</key>
				<string>http://www.linkToOurServer&apos;sDropBox.com</string>
				<key>Announcement</key>
				<string>No quiz tomorrow</string>
				<key>Attendance</key>
				<string>88%</string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student10</key>
	<dict>
		<key>Address</key>
		<string>Faisal Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Maria</string>
		<key>Password</key>
		<string>maria555</string>
		<key>Phone</key>
		<string>03224893361</string>
		<key>RollNo</key>
		<string>l080605</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student2</key>
	<dict>
		<key>Address</key>
		<string>Defence, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Adil</string>
		<key>Password</key>
		<string>ss</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080323</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Software for mobile devices</string>
				<key>Instructor</key>
				<string>Usama Shakeel</string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Assignmnet 2B+C is due on Saturday 7thApril</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student3</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>abc</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student4</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>abc</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student5</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>password</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student6</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>def</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student7</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>ghi</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student8</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>xyz</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Student9</key>
	<dict>
		<key>Address</key>
		<string>Johar Town, Lahore</string>
		<key>Batch</key>
		<string>2008</string>
		<key>Department</key>
		<string>TE</string>
		<key>Name</key>
		<string>Muneeb</string>
		<key>Password</key>
		<string>a</string>
		<key>Phone</key>
		<string>03216135089</string>
		<key>RollNo</key>
		<string>l080333</string>
		<key>CurrentCourses</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Microwave Engineering</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Databases</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Embedded Systems</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>FYP-II</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Telecom Law</string>
				<key>Instructor</key>
				<string></string>
				<key>Resources</key>
				<string></string>
				<key>Announcement</key>
				<string>Their will be a quiz of cavity resonators on monday 2nd april</string>
				<key>Attendance</key>
				<string></string>
				<key>Assignment</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string></string>
				</array>
				<key>Quiz</key>
				<array>
					<string>10</string>
					<string>9</string>
					<string></string>
				</array>
				<key>Mid</key>
				<array>
					<string>40</string>
					<string></string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
